.field-add-group {
    display: flex;
    margin-bottom: 0;
}

button.fields-field-add-button {
      margin-left: .5rem;
}

ul.fields-fields {
    padding-left: 0;
    list-style: none;
}

.fields-field-summary {
  display: flex;
  align-items: center;
  line-height: 1.5;
  flex-wrap: nowrap;
  & .fields-field-name {
    font-weight: bold;
  }
  & .fields-field-name:not(:empty) + .fields-field-term::before {
      white-space: pre;
      content: " · ";
  }
}

.oaipmhharvester-monospace {
    font-family: "Source Code Pro", monospace;
}
